[Unit]
Description=Workstation gql API Service

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/ws-backend
ExecStart=/usr/bin/make gql

[Install]
WantedBy=multi-user.target
